@import 'base/variables';
@import 'base/settings';
@import 'base/mixins';
@import 'base/reset';

body{
  font-family: 'Roboto', sans-serif;
  .content_middle{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}

//loader
#loading {
  margin: 0;
  padding: 0;
  background-color: #000;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  #loading-center {
    width: 100%;
    height: 100%;
    position: relative;
    #loading-center-absolute {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 200px;
      width: 200px;
      margin-top: -100px;
      margin-left: -100px;
      #object {
        width: 80px;
        height: 80px;
        background-color: #FFF;
        -webkit-animation: animate 1s infinite ease-in-out;
        animation: animate 1s infinite ease-in-out;
        margin-right: auto;
        margin-left: auto;
        margin-top: 60px;
      }
    }
  }
  @-webkit-keyframes animate {
    0% {
      -webkit-transform: perspective(160px);
    }
    50% {
      -webkit-transform: perspective(160px) rotateY(-180deg);
    }
    100% {
      -webkit-transform: perspective(160px) rotateY(-180deg) rotateX(-180deg);
    }
  }

  @keyframes animate {
    0% {
      transform: perspective(160px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg);
    }
    50% {
      transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
      -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
    }
    100% {
      transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
      -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
    }
  }
}
//кнопка наверх
#top{
  position: fixed;
  bottom: 15px;
  right: 15px;
  background: #85afff;
  color: #fff;
  display: none;
  padding: 15px;
  @include bradius(50%);
}
#menu_toggle {
  display: none;
  color: #fff;
  top: 10px;
  left: 10px;
  background: #5aa7ff;
  padding: 10px;
  z-index: 9;
  font-size: 20px;
  cursor: pointer;
  transition: all .2s ease;
}
.side_menu{
  position: fixed;
  width: 280px;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  .side_top {
    position: relative;
    margin-bottom: 20px;
    #show_side {
      color: #fff;
      position: absolute;
      top: 20px;
      right: 20px;
      display: none;
    }
  }
  .head_items{
    width: 100%;
    padding: 25px;
    .image_profile{
      margin: 0 auto;
      display: block;
      width: 150px;
      margin-bottom: 25px;
      border-radius: 50%;
      border: 3px solid #fff;
      cursor: pointer;
      @include filter_grayscale(.9);
      @include transition(.2s);
      &:hover{
        @include filter_grayscale(0);
      }
    }
    .block_name_proff{
      text-align: right;
      .name{
        color: #fff;
        margin-bottom: 10px;
      }
      .proff{
        color: #787474;
      }
    }
  }
  .side_list {
    .ul_side {
      .li_side {
        text-align: right;
        position: relative;
        a {
          display: block;
          padding: 15px 25px;
          color: #fff;
          text-decoration: none;
          @include transition($default);
          &:hover {
            background: #fff;
            color: #000!important;
          }
        }
        .active {
          color: #fff;
          padding-right: 45px;
          &:hover::after {
            border: 1px solid #000!important;
          }
          &:after {
            content: "";
            position: absolute;
            top: 15px;
            right: 15px;
            display: inline-block;
            width: 15px;
            height: 15px;
            border: 2px solid #fff;
            @include bradius(50%);
            @include transition($default);
          }
        }
      }
      .write_me {

      }
    }
  }
}
#head{
  margin-left: 280px;
  height: 650px;
  display: flex;
  justify-content: center; /*Центрирование по горизонтали*/
  align-items: center;     /*Центрирование по вертикали */
  position: relative;
  background: linear-gradient(180deg,rgba(13,13,13,.47) 0,rgba(13,13,13,.80) 0), url(../img/startup-593334_1920.jpg) no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;
  @include transition($default);
  .head_block {
    margin: -50px 0 0 0;
    text-align: center;
    .head_header {
      h4 {
        margin-bottom: 25px;
        text-transform: uppercase;
        color: #fff;
        font-size: 30px;
      }
      p {
        color: #fff;
        font-size: 25px;
      }
      .button_go {
        padding: $padding_default;
        background: $alter_bg;
        border: 3px solid $alter_bg;
        display: inline-block;
        margin-top: 20px;
        cursor: pointer;
        @include transition($default);
        &:hover {
          background: $alter_bg_hover;
          border-color: $alter_bg_hover;
        }
      }
      .go_acive {
        animation: move .3s ease;
        @keyframes move {
          20% {
            background: $acid_bg;
            border: 3px solid #fff;
          }
          95% {
            background: $alter_bg;
          }
        }
      }
    }
  }
}
#about_me {
  min-height: 650px;
  background: #fff;
  padding: 60px;
  overflow: hidden;
  margin-left: 280px;
  .about_title {
    text-align: center;
    margin-bottom: 30px;
    .about-me__header {
      text-transform: uppercase;
      font-size: 30px;
    }
  }
  .content_section {
    .story {
      line-height: 28px;
      text-align: center;
      margin-bottom: 50px;
      font-weight: 300;
      .story_name {
        color: $alter_bg;
      }
    }
  }
  .items_profile {
    .ul_info {
      margin-bottom: 30px;
      .li_info {
        padding: 10px 0 0;
        margin-bottom: 11px;
        line-height: 28px;
        font-weight: 300;
        span {
          color: #1a1a1a;
          font-weight: 700;
        }
      }
    }
  }
  .main_wr_rel {
    margin-bottom: 15px;
    &:hover {
      box-shadow: 0 0 9px 0 rgba(81,156,253,.35);
      border: none;
    }
    .main_wr {
      position: relative;
      overflow: hidden;
      height: 50px;
      border: 1px solid #e8e8e8;
      &:after {
        content: '';
        position: absolute;
        top: 13px;
        right: 20px;
        height: 20px;
        width: 20px;
        background: #ccc;
        border-radius: 50%;
      }
      &:hover::after {
        background: $acid_bg;
      }
      &:hover {
        box-shadow: 0 0 9px 0 rgba(81,156,253,.35);
      }
      &:hover .skills_wrapp {
        top: 0;
      }
      .skills_wrapp {
        position: absolute;
        top: -50px;
        right: 0;
        left: 0;
        transition: all .3s ease;
        .sk_top {
          height: 50px;
          background: #f7fbfd;
          span {
            line-height: 50px;
            margin-left: 25px;
          }
        }
        .sk_bottom {
          height: 50px;
          span {
            line-height: 50px;
            margin-left: 25px;
            // color: $alter_color;
          }
        }
      }
    }
  }
}
#ui {
  min-height: 650px;
  height: auto;
  background: #fff;
  padding: 60px 60px 235px 60px;
  overflow: hidden;
  margin-left: 280px;
  background: #f4f4f4;
  .about_ui {
    text-align: center;
    margin-bottom: 30px;
    .ui__header {
      display: inline-block;
      margin: 0;
      position: relative;
      padding: 0 5px;
      font-size: 30px;
      text-transform: uppercase;
    }
  }
  .ui_desc {
    line-height: 28px;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 300;
  }
  .ui__examples {
    padding: $padding_default 0;
    .ui-opacity {
      margin-bottom: 25px;
      overflow: hidden;
      .ui-quadro-center {
        height: 100%;
        width: 100%;
        position: relative;
        overflow: hidden;
        @include transition(.3s);
        &:after {
          opacity: 0;
          content: '';
          position: absolute;
          width: 20px;
          height: 20px;
          top: 10%;
          right: 10%;
          border-radius: 50%;
          background: red;
          transition: .5s;
        }
        &:hover::after {
          opacity: 0;
          animation: record_lamp .7s;
          animation-iteration-count: 3;
          @keyframes record_lamp {
            50% {
              opacity: 1;
            }
            75% {
              opacity: 0;
            }
            100% {
            }
          }
        }
        &:hover {
          filter: grayscale(1);
          animation: bg_flash .5s;
          animation-iteration-count: 2;
          @keyframes bg_flash {
            0% {
              filter: opacity(100%);
            }
            25% {
              filter: opacity(30%);
              transform: scale(.99);
            }
          }
        }
        &__top-shadow {
          opacity: 0;
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          height: 300px;
          width: 100%;
          background: #000;
          @include transition(.3s);
        }
        &__right-shadow {
          opacity: 0;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          height: 300px;
          width: 100%;
          background: #000;
          @include transition(.3s);
        }
        &__bottom-shadow {
          opacity: 0;
          position: absolute;
          right: 0;
          left: 0;
          bottom: -100%;
          height: 300px;
          width: 100%;
          background: #000;
          @include transition(.3s);
        }
        &__left-shadow {
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          height: 300px;
          width: 100%;
          background: #000;
          transition: .3s ease;
        }
        &__center {
          opacity: 0;
          position: absolute;
          left: 25%;
          top: 25%;
          width: 50%;
          height: 50%;
          border: 7px solid rgba(255, 255, 255, .8);
          transform: scale(.8);
          @include transition(.3s);
        }
        .ui_quadro_img {
          max-width: 100%;
          height: auto;
        }
        &:hover .ui-quadro-center__center {
          opacity: 1;
          transform: scale(1);
          animation: borders .5s;
          animation-iteration-count: 2;
          @keyframes borders {
            0% {
              border: 7px solid rgba(255, 255, 255, .4);
            }
            25% {
              border: 7px solid rgba(255, 255, 255, .6);
              transform: scale(1.1);
            }
            50% {
              border: 7px solid rgba(255, 255, 255, .8);
            }
            75% {
              border: 7px solid rgba(255, 255, 255, 1);
            }
            100% {
              border: 7px solid rgba(255, 255, 255, 1);
            }
          }
        }
      }
      .ui-grid-effect {
        height: 100%;
        width: 100%;
        text-align: center;
        position: relative;
        overflow: hidden;
        &:hover .ui-grid-bg {
          opacity: 1;
        }
        &:hover .ui_grid_header {
          transform: translateX(0);
          opacity: 1;
        }
        &:hover .ui_grid_description {
         transform: translateX(0);
         opacity: 1;
       }
       &:hover .ui_grid_img {
         transform: scale(4);
         filter: opacity(10%);
       }
       .ui_grid_img {
        max-width: 100%;
        height: auto;
        transition: all .2s ease-in-out;
      }
      .ui-grid-bg {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: #000;
        transition: all .2s ease-in-out;
        transition-delay: .3s;
        text-align: center;
      }
      .ui_grid_header {
        text-transform: uppercase;
        margin: 75px 0 0 0;
        font-size: $font_size_headers;
        opacity: 0;
        color: #fff;
        transform: translateX(-25px);
        transition: all .2s ease-in-out;
        transition-delay: .5s;
      }
      .ui_grid_description {
        opacity: 0;
        color: #fff;
        padding: 20px 20px 20px;
        transform: translateX(25px);
        display: inline-block;
        font-size: $font_size_descriptions;
        transition: all .2s ease-in-out;
        transition-delay: .5s;
      }
    }
    .ui-bottom-effiect {
      text-align: center;
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      &:hover .ui-bottom-left__bg {
        transform: translateX(0);
        opacity: 1;
      }
      &:hover .ui-bottom-left__bg > .ui-bottom-left__title{
        transform: scale(1);
        opacity: 1;
      }
      &:hover .ui-bottom-left__bg > .ui-bottom-left__description{
        transform: scale(1);
        opacity: 1;
      }
      &:hover .ui_bottom_img {
        transform: translateX(100%);
        filter: blur(50px);
      }
      .ui-bottom-left__bg{
        opacity: 0;
        transform: translateX(-100%);
        background: #000;
        transition: all .4s ease-in-out;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        .ui-bottom-left__title {
          color: #fff;
          transform: scale(3);
          opacity: 0;
          text-transform: uppercase;
          margin: 75px 0 0 0;
          font-size: $font_size_headers;
          transition: all .2s ease-in-out;
          transition-delay: .2s;
        }
        .ui-bottom-left__description{
          opacity: 0;
          color: #fff;
          transform: scale(3);
          position: relative;
          padding: 20px 20px 20px;
          text-align: center;
          font-size: $font_size_descriptions;
          transition: all .2s ease-in-out;
          transition-delay: .4s;
        }
      }
      .ui_bottom_img {
        max-width: 100%;
        height: auto;
        transition: all .4s ease-in-out;
      }
    }
  }
    //ui dropdown menu
    .ui-menu {
      overflow: hidden;
      min-height: 510px;
      .ui-menu__wrapper {
        height: 320px;
        background: #fcfcfc;
        margin-bottom: 20px;
        position: relative;
        border: 1px solid #ccc;
        .ui-menu__annotation{
          opacity: 0;
          visibility: hidden;
          width: 100%;
          border-radius: 3px;
          border: 1px solid #ccc;
          height: auto;
          position: absolute;
          background: #fff;
          padding: 20px 10px;
          top: 55px;
          right: 15px;
          z-index: 1;
          transition: .2s ease-in-out;
          &:before {
            content: '';
            position: absolute;
            top: -10px;
            left: 50px;
            background: #fff;
            width: 10px;
            height: 10px;
            border-bottom: 1px solid #fff;
            border-left: 1px sold #fff;
            width: 10px;
            height: 10px;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #cecece;
          }
          .ui-menu__annotation-text {

          }
        }
        .show {
          opacity: 1;
          visibility: visible;
        }
        .ui-menu__header {
          position: relative;
          height: 60px;
          border-bottom: 1px solid #ccc;
          .ui-menu__action {
            background: url('../img/post_more.png') no-repeat;
            left: 35px;
            position: absolute;
            top: 27px;
            width: 22px;
            height: 24px;
            cursor: pointer;
          }
          .ui-menu__toggle_four {
            position: absolute;
            top: 20px;
            right: 25px;
            width: 20px;
            height: 20px;
            cursor: pointer;
            // background: #ccc;
            // transform: rotate(45deg);
            @include transition($default);
            &:after {
              content: '';
              position: absolute;
              width: 20px;
              height: 1px;
              background: #000;
              transform: rotate(90deg) translate(10px, 0);
            }
            &:before {
              content: '';
              position: absolute;
              width: 20px;
              height: 1px;
              background: #000;
              top: 20px;
              transform: translate(0,-10px);
            }
            &:hover {
              // transform: rotate(-90deg);
            }
            &:hover::after {
              background: $alter_bg_hover;
            }
            &:hover::before {
              background: $alter_bg_hover;
            }
          }
          .active_toggle {
            transform: rotate(-90deg);
            &:after {
              content: '';
              position: absolute;
              width: 20px;
              height: 1px;
              background: #000;
              background: $alter_bg_hover;
                // transform: rotate(90deg) translate(0, -10px);
              }
              &:before {
                content: '';
                position: absolute;
                width: 20px;
                height: 1px;
                background: #000;
                top: 20px;
                opacity: 0;
                // transform: translate(0,-10px);
              }
              &:hover {
                // transform: rotate(-90deg);
              }
            }
            .ui-menu__toggle_five {
              position: absolute;
              top: 20px;
              right: 25px;
              width: 20px;
              height: 20px;
              cursor: pointer;
            // background: #ccc;
            // transform: rotate(45deg);
            @include transition($default);
            &:after {
              content: '';
              position: absolute;
              width: 20px;
              height: 1px;
              background: #000;
              transform: rotate(90deg) translate(10px, 0);
            }
            &:before {
              content: '';
              position: absolute;
              width: 20px;
              height: 1px;
              background: #000;
              top: 20px;
              transform: translate(0,-10px);
            }
            &:hover::after {
              background: $alter_bg_hover;
            }
            &:hover::before {
              background: $alter_bg_hover;
            }
          }
          .active_toggle {
            transform: rotate(-90deg);
            &:after {
              content: '';
              position: absolute;
              width: 20px;
              height: 1px;
              background: #000;
              background: $alter_bg_hover;
                // transform: rotate(90deg) translate(0, -10px);
              }
              &:before {
                content: '';
                position: absolute;
                width: 20px;
                height: 1px;
                background: #000;
                top: 20px;
                opacity: 0;
                // transform: translate(0,-10px);
              }
              &:hover {
                // transform: rotate(-90deg);
              }
            }
            .ui-menu__toggle_six {
              position: absolute;
              top: 20px;
              right: 25px;
              width: 20px;
              height: 20px;
              cursor: pointer;
            // background: #ccc;
            // transform: rotate(45deg);
            @include transition($default);
            &:after {
              content: '';
              position: absolute;
              width: 20px;
              height: 1px;
              background: #000;
              transform: rotate(90deg) translate(10px, 0);
            }
            &:before {
              content: '';
              position: absolute;
              width: 20px;
              height: 1px;
              background: #000;
              top: 20px;
              transform: translate(0,-10px);
            }
            &:hover::after {
              background: $alter_bg_hover;
            }
            &:hover::before {
              background: $alter_bg_hover;
            }
          }
          .active_toggle {
            transform: rotate(-90deg);
            &:after {
              content: '';
              position: absolute;
              width: 20px;
              height: 1px;
              background: #000;
              background: $alter_bg_hover;
                // transform: rotate(90deg) translate(0, -10px);
              }
              &:before {
                content: '';
                position: absolute;
                width: 20px;
                height: 1px;
                background: #000;
                top: 20px;
                opacity: 0;
                // transform: translate(0,-10px);
              }
              &:hover {
                // transform: rotate(-90deg);
              }
            }
          }
          .ui-menu__drop_four{
            opacity: 0;
            visibility: hidden;
            transform: scale(1.1);
            width: 100%;
            height: auto;
            background: #fff;
            box-shadow: -2px 6px 14px 0 rgba(50,50,50,.49);
            transition: .2s ease-in-out;
            .ui-menu__ul{
              background: #eee;
              .ui-menu__li {
                position: relative;
                background: #fff;
                margin-bottom: 1px;
                text-align: left;
                transition: .2s ease-in-out;
                &:hover {
                  transform: translateX(20px);
                  box-shadow: -2px 6px 14px 0 rgba(50,50,50,.49);
                }
                &:hover::after {
                  background: $alter_bg;
                }
                span {
                  padding: 20px 25px;
                  display: inline-block;
                }
                .ui-menu__ul-child {
                  background: #bbb;
                  display: none;
                  .ui-menu__li-child {
                    background: #eee;
                    transition: .2s ease-in-out;
                    &:hover {
                      background: #fff;
                      transform: translateX(-1px);
                      box-shadow: 0px 6px 14px 0 rgba(178, 178, 178, 0.49);
                    }
                    .ui-menu__li-child_span {
                      padding: 15px 40px;
                      display: inline-block;
                    }
                  }
                }
              }
              .icon {
                &:after {
                  content: '';
                  position: absolute;
                  top: 24px;
                  right: 30px;
                  width: 10px;
                  height: 10px;
                  border: 1px solid $alter_bg;
                  border-radius: 50%;
                }
              }
            }
          }
          .drop_four_active {
            opacity: 1;
            transform: scale(1);
            visibility: visible;
          }
          .ui-menu__drop_five{
            opacity: 0;
            visibility: hidden;
            transform: translateY(50px);
            width: 100%;
            height: auto;
            background: #fff;
            box-shadow: -2px 6px 14px 0 rgba(50,50,50,.49);
            transition: .2s ease-in-out;
            .ui-menu__ul{
              background: #eee;
              .ui-menu__li {
                opacity: 0;
                visibility: hidden;
                background: #fff;
                text-align: left;
                margin-bottom: 1px;
                transition: .2s ease-in-out;
                transform: scale(1.9);
                padding: 20px 25px;
                transition: .2s ease-in-out;
                cursor: pointer;
                &:hover {
                  transform: scale(1.1) translateY(-5px);
                  border: 1px solid #ccc;
                  &:after {
                    content: '';
                    position: absolute;
                    top: 24px;
                    right: 30px;
                    width: 10px;
                    height: 10px;
                    border: 1px solid #ff4500;
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                  }
                // box-shadow: 0 2px 16px 0 rgba(255,255,255,.49);
              }
            }
            .ui-menu__li-active{
              opacity: 1;
              visibility: visible;
              transform: scale(1);
            }
            .wave {
              background: #f4f4f4;
              filter: blur(1px);
            }
            .previous {
              background: -webkit-linear-gradient(bottom, #e6e6e6 2%, #f4f4f4) 80%;
              background: -o-linear-gradient(bottom, #e6e6e6 2%, #f4f4f4 80%);
              background: linear-gradient(to top, #e6e6e6 2%, #f4f4f4 80%);
            }
            .next {
              background: -webkit-linear-gradient(bottom, #f4f4f4 10% , #e6e6e6 80%);
              background: -o-linear-gradient(bottom, #f4f4f4 10% , #e6e6e6 80%);
              background: linear-gradient(to top, #f4f4f4 10% , #e6e6e6 80%);
            }
            .fixed {
              border: 1px solid #ccc;
              background: #fff;
              filter: none;
              transform: scale(1.1) translateY(-5px);
              &:before {
                content: '';
                position: absolute;
                top: 24px;
                right: 30px;
                width: 10px;
                height: 10px;
                background: $alter_bg;
                border: 1px solid #ff4500;
                -webkit-border-radius: 50%;
                border-radius: 50%;
              }
            }
          }
        }
        .drop_five_active {
          opacity: 1;
          transform: translateY(0);
          visibility: visible;
        }
        .ui-menu__drop_six{
          opacity: 0;
          visibility: hidden;
          transform: translateY(50px);
          width: 100%;
          height: auto;
          background: #fff;
          box-shadow: -2px 6px 14px 0 rgba(50,50,50,.49);
          transition: .2s ease-in-out;
          .ui-menu__result-table{
            display: none;
            padding: 10px;
            margin: 5px;
            border: 1px solid #ef3d3d;
            border-radius: 3px;
            background: rgba(255, 165, 0, 0.41);
            .ui-menu__result-header {
              margin-bottom: 5px;
            }
            .ui-menu__result-description {
              margin-bottom: 5px;
              display: inline-block;
            }
            .ui-menu__stat{
              opacity: 0;
              display: none;
              visibility: hidden;
              .ui-menu__count-chosen{

                .count_choosen{
                  color: green;
                  font-weight: bold;
                }

              }
            }
            .open_stat {
              display: block;
              opacity: 1;
              visibility: visible;
            }
          }
          .show {
            opacity: 1;
            display: block;
            visibility: visible;
          }
          .ui-menu__ul{
            background: #eee;
            .ui-menu__li {
              opacity: 0;
              visibility: hidden;
              background: #fff;
              text-align: left;
              margin-bottom: 1px;
              transition: .2s ease-in-out;
              transform: scale(1.9);
              padding: 20px 25px;
              transition: .2s ease-in-out;
              cursor: pointer;
              &:hover {
                transform: scale(1.1) translateY(-5px);
                border: 1px solid #ccc;
                &:after {
                  content: '';
                  position: absolute;
                  top: 24px;
                  right: 30px;
                  width: 10px;
                  height: 10px;
                  border: 1px solid #ff4500;
                  -webkit-border-radius: 50%;
                  border-radius: 50%;
                }
                // box-shadow: 0 2px 16px 0 rgba(255,255,255,.49);
              }
              .ui-menu__li-input{
                width: 50px;
                display: none;
              }
              .ui-menu__li-span{
                // width: 50px;
              }
            }
            .ui-menu__li-active{
              opacity: 1;
              visibility: visible;
              transform: scale(1);
            }
            .wave {
              // background: #f4f4f4;
              filter: blur(2px);
            }
            .previous {
              filter: none;
              padding-left: 18px;
              // background: -webkit-linear-gradient(bottom, #e4e4e4 2%, #f8f8f8 80%);
              // background: -o-linear-gradient(bottom, #e4e4e4 2%, #f8f8f8 80%);
              // background: linear-gradient(to top, #e4e4e4 2%, #f8f8f8 80%);
            }
            .next {
              filter: none;
              padding-left: 18px;
              // background: -webkit-linear-gradient(bottom, #f8f8f8 10% , #e4e4e4 80%);
              // background: -o-linear-gradient(bottom, #f8f8f8 10% , #e4e4e4 80%);
              // background: linear-gradient(to top, #f8f8f8 10% , #e4e4e4 80%);
            }
            .fixed {
              padding: 20px 25px;
              border: 1px solid #ccc;
              background: #fff;
              filter: none;
              transform: scale(1.1) translateY(-5px);
              &:before {
                content: '';
                position: absolute;
                top: 24px;
                right: 30px;
                width: 10px;
                height: 10px;
                background: $alter_bg;
                border: 1px solid #ff4500;
                -webkit-border-radius: 50%;
                border-radius: 50%;
              }
            }
          }
        }
        .drop_six_active {
          opacity: 1;
          transform: translateY(0);
          visibility: visible;
        }
      }
    }
    .ui-buttons {
      .ui-buttons__header{
        text-align: center;
        margin: 0;
        position: relative;
        padding: 0 10px;
        margin: 45px 25px;
        font-size: 30px;
        text-transform: uppercase;
      }
      .button-sev{
        position: relative;
        display: block;
        height: 60px;
        line-height: 60px;
        width: 230px;
        margin: 0 auto;
        color: #000;
        cursor: pointer;
        text-align: center;
        float: right;
        overflow: hidden;
        background: #fff;
        outline: none;
        border: 3px solid $alter_bg;
        transition: $default ease-in-out;
        transition-delay: 1.3s;
        &:hover {
          background: $alter_bg;

          color: #fff;
        }
        &:hover .button-sev__senter{
          animation: bubble .6s ease-in-out;
          // -webkit-animation-fill-mode: forwards;
          // animation-fill-mode: forwards;
          animation-delay: .1s;
          animation-duration: 2s;
          animation-timing-function: cubic-bezier(.15, .1, .2, 1.5);
        }
        .button-sev__senter{
          opacity: 0;
          position: absolute;
          left: 39%;
          top: 8%;
          background: transparent;
          border: 3px solid $alter_bg;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          color: #000;
          line-height: 45px;
          transform: scale(.5);
          @keyframes bubble {
            0{
              background: $alter_bg;
            }
            25% {
              transform: scale(1.8);
            }
            50% {
              transform: scale(.99);
              background: #fff;
            }
            100% {
              background: $alter_bg;
              transform: scale(9);
              opacity: 1;
            }
          }
          &:hover {
            opacity: 1;
          }
        }
      }
      .button_ei {
        float: left;
        background: $alter_bg;
        display: block;
        line-height: 60px;
        width: 230px;
        margin: 0 auto;
        color: #fff;
        cursor: pointer;
        text-align: center;
        float: left;
        @keyframes loader {
          25% {
            background: $curcle_buttons_flash;
            transform: scale(1.5);
            box-shadow: -1px 15px 30px 0px rgba(50, 50, 50, 0.20);
          }
          50% {
            transform: scale(.95);
          }
          80% {
            transform: scale(1);
          }
        }
        &:hover {
          animation: loader .6s ease;
          animation-delay: .1s;
        }
      }
      .ui-circle-buttons {
        margin-bottom: 100px;
        .cir_one{
          background: $curcle_buttons_flash;
          cursor: pointer;
          width: 100px;
          height: 100px;
          margin: 25px auto;
          border-radius: 50%;
          box-shadow: 0 8px 17px 0 rgba(0,0,0,.2);
          transition: all .5s ease;
          perspective: 500px;
          @keyframes cricle_flash {
            25% {
              transform: scale(1.5);
              background: #bbe3f3;
              box-shadow: 0 2px 14px 0 rgba(0,0,0,.4);
            }
            50% {
              transform: scale(.78);
            }
            80% {
              transform: scale(1);
            }
          }
          &:hover {
            animation: cricle_flash .6s ease;
            animation-delay: .1s;
          }
        }
      }
    }
  }
}


//protocard
.ui-photocard {
  height: 350px;
  min-width: 300px;
  opacity: 0;
  position: fixed;
  top: -350px;
  left: 40%;
  margin: 0 auto;
  border: 10px solid #fff;
  background: url(../img/Cute-Girlnbspfond-ecran-hd3.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  @include bsh(0px 0px 20px 0px rgba(0, 0, 0, 0.75));
  @include transition($default);
  filter: sepia(100%);
  &__header {
    padding: 10px 0;
    background: #fff;
    font-size: 24px;
  }
}
.active_photocard {
  top: 20px;
  opacity: 1;
}

