@import 'base/variables';
@import 'base/settings';
@import 'base/mixins';
@import 'base/reset';

body{
  font-family: 'Roboto', sans-serif;
}

//loader
#loading {
  margin: 0;
  padding: 0;
  background-color: #376dac;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  #loading-center {
    width: 100%;
    height: 100%;
    position: relative;
    #loading-center-absolute {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 200px;
      width: 200px;
      margin-top: -100px;
      margin-left: -100px;
      #object {
        width: 80px;
        height: 80px;
        background-color: #FFF;
        -webkit-animation: animate 1s infinite ease-in-out;
        animation: animate 1s infinite ease-in-out;
        margin-right: auto;
        margin-left: auto;
        margin-top: 60px;
      }
    }
  }
  @-webkit-keyframes animate {
    0% {
      -webkit-transform: perspective(160px);
    }
    50% {
      -webkit-transform: perspective(160px) rotateY(-180deg);
    }
    100% {
      -webkit-transform: perspective(160px) rotateY(-180deg) rotateX(-180deg);
    }
  }

  @keyframes animate {
    0% {
      transform: perspective(160px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg);
    }
    50% {
      transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
      -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
    }
    100% {
      transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
      -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
    }
  }
}
//кнопка наверх
#top{
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: #85afff;
  color: #fff;
  display: none;
  padding: 15px;
  @include bradius(50%);
}
#menu_toggle {
  display: none;
  color: #fff;
  top: 10px;
  left: 10px;
  background: #5aa7ff;
  padding: 10px;
  z-index: 9;
  font-size: 20px;
  cursor: pointer;
  transition: all .2s ease;
}
.side_menu{
  position: fixed;
  width: 280px;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  .side_top {
    position: relative;
    margin-bottom: 20px;
    #show_side {
      color: #fff;
      position: absolute;
      top: 20px;
      right: 20px;
      display: none;
    }
  }
  .head_items{
    width: 100%;
    padding: 25px;
    .image_profile{
      margin: 0 auto;
      display: block;
      width: 150px;
      margin-bottom: 25px;
      border-radius: 50%;
      border: 3px solid #fff;
      cursor: pointer;
      @include filter_grayscale(.9);
      @include transition(.2s);
      &:hover{
        @include filter_grayscale(0);
      }
    }
    .block_name_proff{
      text-align: right;
      .name{
        color: #fff;
        margin-bottom: 10px;
      }
      .proff{
        color: #787474;
      }
    }
  }
  .side_list {
    .ul_side {
      .li_side {
        text-align: right;
        position: relative;
        a {
          display: block;
          padding: 15px 25px;
          color: #fff;
          text-decoration: none;
          @include transition($default);
          &:hover {
            background: #fff;
            color: #000!important;
          }
        }
        .active {
          color: #fff;
          padding-right: 45px;
          &:hover::after {
            border: 1px solid #000!important;
          }
          &:after {
            content: "";
            position: absolute;
            top: 15px;
            right: 15px;
            display: inline-block;
            width: 15px;
            height: 15px;
            border: 2px solid #fff;
            @include bradius(50%);
            @include transition($default);
          }
        }
      }
      .write_me {

      }
    }
  }
}
#head{
  margin-left: 280px;
  height: 650px;
  display: flex;
  justify-content: center; /*Центрирование по горизонтали*/
  align-items: center;     /*Центрирование по вертикали */
  position: relative;
  background: linear-gradient(180deg,rgba(13,13,13,.47) 0,rgba(13,13,13,.80) 0), url(../img/startup-593334_1920.jpg) no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;
  @include transition($default);
  .head_block {
    margin: -50px 0 0 0;
    text-align: center;
    .head_header {
      h4 {
        margin-bottom: 25px;
        text-transform: uppercase;
        color: #fff;
        font-size: 30px;
      }
      p {
        color: #fff;
        font-size: 25px;
      }
      .button_go {
        padding: $padding_default;
        background: $alter_bg;
        border: 3px solid $alter_bg;
        display: inline-block;
        margin-top: 20px;
        cursor: pointer;
        @include transition($default);
        &:hover {
          background: $alter_bg_hover;
          border-color: $alter_bg_hover;
        }
      }
      .go_acive {
        animation: move .3s ease;
        @keyframes move {
          20% {
            background: $acid_bg;
            border: 3px solid #fff;
          }
          95% {
            background: $alter_bg;
          }
        }
      }
    }
  }
}
#about_me {
  min-height: 650px;
  background: #fff;
  padding: 60px;
  overflow: hidden;
  margin-left: 280px;
  .about_title {
    text-align: center;
    margin-bottom: 30px;
    .about-me__header {
      text-transform: uppercase;
      font-size: 30px;
    }
  }
  .content_section {
    .story {
      line-height: 28px;
      text-align: center;
      margin-bottom: 30px;
      font-weight: 300;
      .story_name {
        color: $alter_bg;
      }
    }
  }
  .items_profile {
    .ul_info {
      margin-bottom: 30px;
      .li_info {
        padding: 10px 0 0;
        margin-bottom: 11px;
        line-height: 28px;
        font-weight: 300;
        span {
          color: #1a1a1a;
          font-weight: 700;
        }
      }
    }
  }
  .main_wr {
    position: relative;
    overflow: hidden;
    height: 50px;
    margin-bottom: 15px;
    border: 1px solid #e8e8e8;
    &:after {
      content: '';
      position: absolute;
      top: 13px;
      right: 20px;
      height: 20px;
      width: 20px;
      background: #ccc;
      border-radius: 50%;
    }
    &:hover::after {
      background: $alter_bg_hover;
      border-radius: 50%;
    }
    &:hover {
      box-shadow: 0 0 9px 0 rgba(81,156,253,.35);
    }
    &:hover .skills_wrapp {
      top: 0;
    }
    .skills_wrapp {
      position: absolute;
      top: -50px;
      right: 0;
      left: 0;
      transition: all .3s ease;
      .sk_top {
        height: 50px;
        background: #f7fbfd;
        span {
          line-height: 50px;
          margin-left: 25px;
        }
      }
      .sk_bottom {
        height: 50px;
        span {
          line-height: 50px;
          margin-left: 25px;
        }
      }
    }
  }
}
#ui {
  min-height: 650px;
  height: auto;
  background: #fff;
  padding: 60px;
  overflow: hidden;
  margin-left: 280px;
  background: #f4f4f4;
  .about_ui {
    text-align: center;
    margin-bottom: 30px;
    .ui__header {
      display: inline-block;
      margin: 0;
      position: relative;
      padding: 0 5px;
      font-size: 30px;
      text-transform: uppercase;
    }
  }
  .ui__examples {
    padding: $padding_default 0;
    .ui-opacity {
      .ui-quadro-center {
        height: 300px;
        position: relative;
        background: url(../img/Cute-Girlnbspfond-ecran-hd3.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
        overflow: hidden;
        @include transition(.3s);
        &:after {
          opacity: 0;
          content: '';
          position: absolute;
          width: 20px;
          height: 20px;
          top: 10%;
          right: 10%;
          border-radius: 50%;
          background: red;
          transition: .5s;
        }
        &:hover::after {
          opacity: 0;
          animation: record_lamp .7s;
          animation-iteration-count: 3;
          @keyframes record_lamp {
            50% {
              opacity: 1;
            }
            75% {
              opacity: 0;
            }
            100% {
            }
          }
        }
        &:hover {
          filter: grayscale(1);
          // filter: sepia(100%);
          // filter: saturate(150%);
          animation: bg_flash .5s;
          animation-iteration-count: 2;
          @keyframes bg_flash {
            0% {
              filter: opacity(100%);
            }
            25% {
              // background: #fff;
              filter: opacity(30%);
              transform: scale(.99);
            }
          }
        }
        &__top-shadow {
          opacity: 0;
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          height: 300px;
          width: 100%;
          background: #000;
          @include transition(.3s);
        }
        &__right-shadow {
          opacity: 0;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          height: 300px;
          width: 100%;
          background: #000;
          @include transition(.3s);
        }
        &__bottom-shadow {
          opacity: 0;
          position: absolute;
          right: 0;
          left: 0;
          bottom: 0;
          height: 300px;
          width: 100%;
          background: #000;
          @include transition(.3s);
        }
        &__left-shadow {
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          height: 300px;
          width: 100%;
          background: #000;
          transition: .3s ease;
        }
        &__center {
          opacity: 0;
          position: absolute;
          left: 25%;
          top: 25%;
          width: 50%;
          height: 50%;
          border: 7px solid rgba(255, 255, 255, .8);
          transform: scale(.8);
          @include transition(.3s);
        }
        &:hover .ui-quadro-center__center {
          opacity: 1;
          transform: scale(1);
          animation: borders .5s;
          animation-iteration-count: 2;
          @keyframes borders {
            0% {
              border: 7px solid rgba(255, 255, 255, .4);
            }
            25% {
              border: 7px solid rgba(255, 255, 255, .6);
              transform: scale(1.1);
            }
            50% {
              border: 7px solid rgba(255, 255, 255, .8);
            }
            75% {
              border: 7px solid rgba(255, 255, 255, 1);
            }
            100% {
              border: 7px solid rgba(255, 255, 255, 1);
            }
          }
        }
        &:hover .ui-quadro-center__top-shadow {
          opacity: .7;
          top: -95%;
        }
        &:hover .ui-quadro-center__right-shadow {
          opacity: .7;
          right: 95%;
        }
        &:hover .ui-quadro-center__bottom-shadow {
          opacity: .7;
          bottom: -95%;
        }
        &:hover .ui-quadro-center__left-shadow {
          opacity: .7;
          left: 95%;
        }
      }
      .ui-grid-effect {
        height: 300px;
        text-align: center;
        position: relative;
        background: url(../img/Cute-Girlnbspfond-ecran-hd3.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
        overflow: hidden;
        &:hover .ui-grid-bg {
          opacity: .5;
        }
        &:hover .ui_grid_header {
          top: 55px;
          opacity: 1;
        }
        &:hover .ui_grid_description {
         transform: scale(.9);
          opacity: 1;
        }
        .ui-grid-bg {
          opacity: 0;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: -webkit-linear-gradient(bottom left, rgb(0, 0, 0) 0%, #05abe0 100%);
          background: -o-linear-gradient(bottom left, rgb(0, 0, 0) 0%, #05abe0 100%);
          background: linear-gradient(to top right, rgb(0, 0, 0) 0%, #05abe0 100%);
          transition: all .2s ease-in-out;
          text-align: center;
        }
        .ui_grid_header {
          color: #fff;
          opacity: 0;
          position: absolute;
          top: 25px;
          text-align: center;
          text-transform: uppercase;
          bottom: 0;
          font-size: 24px;
          left: 0;
          right: 0;
          transition: all .2s ease-in-out;
        }
        .ui_grid_description {
          color: #fff;
          transform: scale(1.1);
          opacity: 0;
          border: 2px solid #fff;
          display: inline-block;
          margin-top: 130px;
          padding: 10px;
          font-size: 24px;
          transition: all .2s ease-in-out;
        }
      }
      .ui-opacity__wrapper_two {

      }
    }
  }
}


//protocard
.ui-photocard {
  height: 350px;
  min-width: 300px;
  opacity: 0;
  position: fixed;
  top: -350px;
  left: 40%;
  margin: 0 auto;
  border: 10px solid #fff;
  background: url(../img/Cute-Girlnbspfond-ecran-hd3.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  @include bsh(0px 0px 20px 0px rgba(0, 0, 0, 0.75));
  @include transition($default);
  filter: sepia(100%);
  &__header {
    padding: 10px 0;
    background: #fff;
    font-size: 24px;
  }
}
.active_photocard {
  top: 20px;
  opacity: 1;
}

