//transition
$default: .2s;

//padding
$padding_default: 20px;

//colors

$alter_bg: orangered;
$alter_bg_hover: #ff3939;
$acid_bg: #77ea41;
$alter_color: #fff;

//ui images

$font_size_headers: 24px;
$font_size_descriptions: 20px;

//buttons

$curcle_buttons_flash: #00b1f7;
$curcle_buttons_flash_hover: #4bccff;
$cyan: red;
