//transition
$default: .4s;

//padding
$padding_default: 20px;

//colors

$alter_bg: orangered;
$alter_bg_hover: #ff3939;
$acid_bg: #77ea41;
$alter_color: #fff;

//ui images

$font_size_headers: 24px;
$font_size_descriptions: 20px;
